/.MyStateMachineGenerator.java._trace
/.MyStateMachineGenerator.xtendbin
/.MyStateMachineGraphVizGenerator.java._trace
/.MyStateMachineGraphVizGenerator.xtendbin
/.MyStateMachineJavaGenerator.java._trace
/.MyStateMachineJavaGenerator.xtendbin
/MyStateMachineGenerator.java
/MyStateMachineGraphVizGenerator.java
/MyStateMachineJavaGenerator.java
